/*
 * TABLE OF CONTENTS:
 * - JsDoc styling
 * - Media query check
 */






/*
 * BEGIN JSDOC
 */

/* Start menu */
div.index {
	float: left;
	width: 210px;
	padding: 0 0 10px 0;
}

div.index *.heading1 {
	padding: 8px 0 0 0;
}

div.index div.menu {
	position:relative;
	/*margin: 0 15px 0 -15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-border-bottom-right-radius: 15px;*/
  	padding: 15px;
	/*-moz-box-shadow: 0px 0px 10px #c4c4c4;
	-webkit-box-shadow: 0px 0px 10px #c4c4c4;
	box-shadow: 0px 0px 10px #c4c4c4;*/
	background:transparent;
}

div.index div.indexLinks {
	margin-top: 13px 0;
	text-align:center;
}

div.index div.indexLinks a {
	color: #999999;
	text-transform: lowercase;
}

div.index div.indexLinks a:first-child {
	margin-right: 3px;
	border-right: 1px solid #999999;
	padding-right: 5px;
}

input.classFilter {
	margin: 10px 8px;
	width: 190px;
	border-width: 1px;
	border-style: solid;
	border-color: #007496;
	padding:2px;
	float:left;
}

div.index ul.classList a {
	line-height: 1.3em;
}

div.index ul.classList a + a {
	margin-left: 0.5em;
}

div.index div.fineprint {
	margin: 1em 0 0 15px;
	color: #777;
	font-size: 0.9em;
}

div.index div.fineprint a {
	color: #777;
}

div.indexStatic {
	position: static;
	min-height: 1em;
}
/* End menu */


/* Start content */
div.content {
	float: left;
	width: 789px;
	min-height:600px;
	border-left:1px solid #ccc;
	box-shadow:0 0 15px rgba(0,0,0,0.1);
	background-color:#fff;
}
div.innerContent {
	padding: 0 2.5em 0 2.5em;
}

div.content ul,
div.content ol {
	margin-bottom: 3em;
}

div.content ul.methodDetail {
	margin-bottom: 0;
}

div.content ul.methodDetail li {
	padding-left:10px;
	border-left:4px solid #e0e0e0;
	margin-bottom:4em;
}
div.content ul.methodDetail li:last-child {
	margin-bottom:0;
}

div.content *.classTitle {
	position: relative;
  	padding: 25px 0px 15px 0px;
	background-color: #FFFFFF;
}

div.content div.intro {
	margin: 15px 0 45px
}

div.content div.intro p {
	margin: 0 10px;
}
div.content div.intro hr {
	border:none;
	border-top:1px solid #ddd;
}
div.content div.intro h1 {
	font-weight:bold;
	font-size:1.5em;
	margin:10px;
}
div.content div.intro h2 {
	font-weight:bold;
	font-size:1.25em;
	margin:10px;
}
div.content div.intro li {
	list-style-type:disc;
	margin:2px 10px 2px 30px;
}
div.content div.intro .summary li {
	list-style-type:none;
	margin:0;
}

div.content p.summary {
	margin-bottom: 0.5em;
}

div.content ul.summary {
	margin-bottom: 1.5em;
}

div.content ul *.classname a,
div.content ul *.filename a {
	font-family: Consolas, "Courier New", Courier, monospace;
	text-decoration: none;
	font-weight: bold;
}
div.content ul *.classname a:hover,
div.content ul *.filename a:hover {
	text-decoration: underline;
}

div.content div.props {
	position: relative;
	margin-bottom: 2.5em;
	padding: 10px 15px 15px 15px;
	overflow: hidden;
}

div.content div.hr {
	margin: 10px 0 0 0;
	height: 4em;
}



table.summaryTable {
	position: relative;
	left: -10px;
	width: 100%;
	border-collapse: collapse;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	-icab-box-sizing: content-box;
	-khtml-box-sizing: content-box; 
}

*.sectionTitle {
	padding: 0 10px 10px 0;
}
caption.sectionTitle {
	padding-left: 10px;
}

table.summaryTable td,
table.summaryTable th {
	padding: 0px 10px 10px 10px;
}
table.summaryTable tr:last-child td {
	padding-bottom: 0;
}

table.summaryTable td.attributes {
	width: 35%;
}

table.summaryTable td.nameDescription {
	width: 65%
}



dl.detailList {
	margin-top: 0.5em;
}

dl.detailList.nomargin + dl.detailList.nomargin {
	margin-top: 0;
}

dl.detailList dt {
	display: inline;
	margin-right: 5px;
}

dl.detailList dt:before {
	display: block;
	content: "";
}

dl.detailList dd {
	display: inline;
}
.param-heading {
	display:block;
	font-weight:bold;
	margin:0.3em 0;
	font-size:1.2em;
}
dl.detailList.params {
	padding:15px;
	background:#f9f9f9;
	border:1px solid #ddd;
}
dl.detailList.params dt {
	display: block;
	width:270px;
	float:left;
}
dl.detailList.params dt.sub-object {
	width:255px;
	margin-left:15px;
}
dl.detailList.params dd {
	display: block;
	padding-bottom: 0.4em;
	margin-left:270px;
}
dl.detailList.params .prefix {
	color:#444;
	font-weight:normal;
	margin-right:-2px;
	font-style:italic;
}
dl.detailList.params .item {
	clear:both;
	border-bottom:1px solid #e0e0e0;
	overflow:hidden;
	padding:6px 0;
}
dl.detailList.params .item:first-child {
	padding-top:0;
}
dl.detailList.params .item:last-child {
	border-bottom:none;
	padding-bottom:0;
}

ul.fileList li {
	margin-bottom: 1.5em;
}



.fixedFont.heading {
	margin-bottom: 0.5em;
}

pre.code,
code {
	margin: 10px 0 10px 0;
	padding: 10px;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
/* End content */

.clear {
	clear: both;
	width: 100%;
	min-height: 0;
}

/*
 * END JSDOC
 */







/*
 * START MEDIA QUERY CHECK
 */

.cssLoadCheck {
	position: absolute;
	top: -99999px;
	left: -99999px;
	border: 0;
	width: 100px;
	padding: 0;
	overflow: hidden;
}

/*
 * END MEDIA QUERY CHECK
 */

