<div class="header">
	<div class="hd-content">
		<input type="text" name="classFilter" class="classFilter" id="ClassFilter" placeholder="Filter"></input>
		{+new Link().toFile("index.html").withText("<div class=\"title-img\"></div><div class=\"sub-title\">YAMJS FRAMEWORK</div>")+}
		
	</div>
</div>
<div class="main">
<div class="index">
	<div class="menu">
		<div class="indexLinks">
			{+new Link().toFile(JSDOC.opt.D.index=="files"?"allclasses.html":"index.html").withText("Classes")+}
			{+new Link().toFile(JSDOC.opt.D.index=="files"?"index.html":"files.html").withText("Files")+}
		</div>
		
		
		<nav>
			<ul class="classList" id="ClassList">
				<for each="thisClass" in="publish.classes">
					<li>{!
						var classLink = new Link().toClass(thisClass.alias) + "";
						output += wordwrapNamespace(classLink);
					!}</li>
				</for>
			</ul>
		</nav>
	</div>
</div>
